<nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg p-0">
    {#<nav class="navbar  navbar-light bg-light">#}
    <div class="col-md-2 text-center">

        <a class="navbar-brand col-sm-3 col-md-2 mr-0 " href="{% url 'dashboard-WR' %}">
            <span data-feather="codesandbox"></span>&nbsp;&nbsp;Worker Site</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'dashboard-WR' %}">Výkazy práce</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout-AC' %}">Odhlásit se ({{ request.user }})</a>
        </li>
    </ul>
</nav>